html, body
  margin: 0

*
  box-sizing: border-box

img
  max-width: 100%
  display: inline-block

p
  margin: 0
   
body
  font-size: $body--fs
  font-weight: $body--fw
  line-height: $body--lh
  font-family: $body--ff
  padding: $body--padding

h1, h2, h3, h4, h5, h6
  font-size: inherit
  font-weight: inherit
  margin: 0
  line-height: inherit

.page-title
  font-size: $page-title--fs
  font-weight: $page-title--fw
  line-height: $page-title--lh
  margin: $page-title--margin

.page-subtitle
  font-size: $page-subtitle--fs
  font-weight: $page-subtitle--fw
  line-height: $page-subtitle--lh

.h1
  font-size: $h1--fs
  font-weight: $h1--fw
  line-height: $h1--lh
  margin: $h1--margin

.h1-label
  font-size: $h1-label--fs
  font-weight: $h1-label--fw
  line-height: $h1-label--margin

.h2
  font-size: $h2--fs
  font-weight: $h2--fw
  line-height: $h2--lh
  margin: $h2--margin
